[submodule "luci-apps/luci-app-arpbind"]
	path = luci-apps/luci-app-arpbind
	url = git@github.com:awesome-openwrt/luci-app-arpbind.git
[submodule "luci-apps/luci-app-control-mia"]
	path = luci-apps/luci-app-control-mia
	url = git@github.com:awesome-openwrt/luci-app-control-mia.git
[submodule "luci-apps/luci-app-control-timewol"]
	path = luci-apps/luci-app-control-timewol
	url = git@github.com:awesome-openwrt/luci-app-control-timewol.git
[submodule "luci-apps/luci-app-control-webrestriction"]
	path = luci-apps/luci-app-control-webrestriction
	url = git@github.com:awesome-openwrt/luci-app-control-webrestriction.git
[submodule "luci-apps/luci-app-control-weburl"]
	path = luci-apps/luci-app-control-weburl
	url = git@github.com:awesome-openwrt/luci-app-control-weburl.git
[submodule "luci-apps/luci-app-fileassistant"]
	path = luci-apps/luci-app-fileassistant
	url = git@github.com:awesome-openwrt/luci-app-fileassistant.git
[submodule "luci-apps/luci-app-ipsec-vpnserver"]
	path = luci-apps/luci-app-ipsec-vpnserver
	url = git@github.com:awesome-openwrt/luci-app-ipsec-vpnserver.git
[submodule "luci-apps/luci-app-passwall"]
	path = luci-apps/luci-app-passwall
	url = git@github.com:awesome-openwrt/luci-app-passwall.git
[submodule "luci-apps/luci-app-passwall-mini"]
	path = luci-apps/luci-app-passwall-mini
	url = git@github.com:awesome-openwrt/luci-app-passwall-mini.git
[submodule "luci-apps/luci-app-pptp-vpnserver"]
	path = luci-apps/luci-app-pptp-vpnserver
	url = git@github.com:awesome-openwrt/luci-app-pptp-vpnserver.git
[submodule "luci-apps/luci-app-ramfree"]
	path = luci-apps/luci-app-ramfree
	url = git@github.com:awesome-openwrt/luci-app-ramfree.git
[submodule "luci-apps/luci-app-ssr-plus"]
	path = luci-apps/luci-app-ssr-plus
	url = git@github.com:awesome-openwrt/luci-app-ssr-plus.git
[submodule "luci-apps/luci-app-ssr-plus-mini"]
	path = luci-apps/luci-app-ssr-plus-mini
	url = git@github.com:awesome-openwrt/luci-app-ssr-plus-mini.git
[submodule "luci-apps/luci-app-syncthing"]
	path = luci-apps/luci-app-syncthing
	url = git@github.com:awesome-openwrt/luci-app-syncthing.git
[submodule "luci-apps/luci-app-usb-printer"]
	path = luci-apps/luci-app-usb-printer
	url = git@github.com:awesome-openwrt/luci-app-usb-printer.git
[submodule "luci-apps/luci-app-vlmcsd"]
	path = luci-apps/luci-app-vlmcsd
	url = git@github.com:awesome-openwrt/luci-app-vlmcsd.git
[submodule "luci-apps/luci-app-webadmin"]
	path = luci-apps/luci-app-webadmin
	url = git@github.com:awesome-openwrt/luci-app-webadmin.git
[submodule "luci-apps/luci-app-xlnetacc"]
	path = luci-apps/luci-app-xlnetacc
	url = git@github.com:awesome-openwrt/luci-app-xlnetacc.git
[submodule "packages/brook"]
	path = packages/brook
	url = git@github.com:awesome-openwrt/brook.git
[submodule "packages/chinadns-ng"]
	path = packages/chinadns-ng
	url = git@github.com:awesome-openwrt/chinadns-ng.git
[submodule "packages/ddns-scripts_aliyun"]
	path = packages/ddns-scripts_aliyun
	url = git@github.com:awesome-openwrt/ddns-scripts_aliyun.git
[submodule "packages/dns2socks"]
	path = packages/dns2socks
	url = git@github.com:awesome-openwrt/dns2socks.git
[submodule "packages/ipt2socks"]
	path = packages/ipt2socks
	url = git@github.com:awesome-openwrt/ipt2socks.git
[submodule "packages/kcptun"]
	path = packages/kcptun
	url = git@github.com:awesome-openwrt/kcptun.git
[submodule "packages/luci-i18n-sqm"]
	path = packages/luci-i18n-sqm
	url = git@github.com:awesome-openwrt/luci-i18n-sqm.git
[submodule "packages/microsocks"]
	path = packages/microsocks
	url = git@github.com:awesome-openwrt/microsocks.git
[submodule "packages/pdnsd-alt"]
	path = packages/pdnsd-alt
	url = git@github.com:awesome-openwrt/pdnsd-alt.git
[submodule "packages/redsocks2"]
	path = packages/redsocks2
	url = git@github.com:awesome-openwrt/redsocks2.git
[submodule "packages/shadowsocksr-libev"]
	path = packages/shadowsocksr-libev
	url = git@github.com:awesome-openwrt/shadowsocksr-libev.git
[submodule "packages/simple-obfs"]
	path = packages/simple-obfs
	url = git@github.com:awesome-openwrt/simple-obfs.git
[submodule "packages/syncthing"]
	path = packages/syncthing
	url = git@github.com:awesome-openwrt/syncthing.git
[submodule "packages/tcping"]
	path = packages/tcping
	url = git@github.com:awesome-openwrt/tcping.git
[submodule "packages/trojan"]
	path = packages/trojan
	url = git@github.com:awesome-openwrt/trojan.git
[submodule "packages/v2ray"]
	path = packages/v2ray
	url = git@github.com:awesome-openwrt/v2ray.git
[submodule "packages/v2ray-plugin"]
	path = packages/v2ray-plugin
	url = git@github.com:awesome-openwrt/v2ray-plugin.git
[submodule "packages/vlmcsd"]
	path = packages/vlmcsd
	url = git@github.com:awesome-openwrt/vlmcsd.git
[submodule "luci-apps/luci-app-flowoffload"]
	path = luci-apps/luci-app-flowoffload
	url = git@github.com:awesome-openwrt/luci-app-flowoffload.git
[submodule "luci-apps/luci-app-autoreboot"]
	path = luci-apps/luci-app-autoreboot
	url = git@github.com:awesome-openwrt/luci-app-autoreboot.git
[submodule "luci-apps/luci-app-smartdns"]
	path = luci-apps/luci-app-smartdns
	url = git@github.com:awesome-openwrt/luci-app-smartdns.git
[submodule "packages/tcpping"]
	path = packages/tcpping
	url = git@github.com:awesome-openwrt/tcpping.git
[submodule "luci-apps/luci-app-aliddns"]
	path = luci-apps/luci-app-aliddns
	url = git@github.com:awesome-openwrt/luci-app-aliddns.git
[submodule "luci-apps/luci-app-clash"]
	path = luci-apps/luci-app-clash
	url = git@github.com:awesome-openwrt/luci-app-clash.git
[submodule "luci-apps/luci-app-openclash"]
	path = luci-apps/luci-app-openclash
	url = git@github.com:awesome-openwrt/luci-app-openclash.git
[submodule "packages/smartdns"]
	path = packages/smartdns
	url = git@github.com:awesome-openwrt/smartdns.git
[submodule "packages/adbyby"]
	path = packages/adbyby
	url = git@github.com:awesome-openwrt/adbyby.git
[submodule "luci-apps/luci-app-adbyby-plus"]
	path = luci-apps/luci-app-adbyby-plus
	url = git@github.com:awesome-openwrt/luci-app-adbyby-plus.git
